.feedback_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0em;
    background-color: #f9f9f9;
    width: 30%;
    min-height: 80vh;
    padding: 0.8em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.rating_heading {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

.rating_div {
    /* border: 1px solid black; */
    border: 0;
}

.name {
    color: black;
    font-size: 0.9em;
    text-align: left;
    font-family: sans-serif;
}

.ratingContainer {
    display: flex;
    gap: 8px;
}

.star {
    font-size: 32px;
    color: wheat;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
    transition: color 0.2s;
}

.filled {
    color: yellow;
}

.feedback_input {
    padding: 8px;
    width: 100%;
    border: 2px solid yellow;
    color: black;
    border-radius: 4px;
    outline: none;
}

.submit_button {
    padding: 10px 16px;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 0em 4em;
}

.submit_button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.reviews_section{
    /* border: 1px solid black; */
    height: 40vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.reviewCard{
    /* border: 1px solid red; */
    height: auto;
}

.review_box{
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.reviewerName{
    font-size: 1.1em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.profilePic {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    object-fit: cover;
}

.comment{
    color: rgb(66, 66, 66);
    font-size: 0.9em;
    /* border: 1px solid black; */
    text-align: left;
    margin-left: 4.8em;
}

.noReviews{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 500;
}