@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --color-header: #0d0d0d;
  --color-text: #404040;
  --color-btn-text: #3363ff;
  --color-btn-background: #e6ecff;
  --transition-speed: 0.2s;
}

html[theme-name="light"]
{
  --bg-color:
}


html[data-theme="dark"] {
  --box-shadow: 1px 4px 12px 2px #ffffff;
  --bg-color: var(--foreground);
  --text-color: var(--background);
  --button-bg: #007bff;
  --button-text: #ffffff;
  --select-bg-color: #1a1a1a;
  --select-text-color: #ffffff;
  --card-shadow: rgba(255, 255, 255, 0.05) 0px 1px 2px,
    rgba(255, 255, 255, 0.05) 0px 2px 4px,
    rgba(255, 255, 255, 0.05) 0px 4px 8px,
    rgba(255, 255, 255, 0.05) 0px 8px 16px,
    rgba(255, 255, 255, 0.05) 0px 16px 32px,
    rgba(255, 255, 255, 0.05) 0px 32px 64px;
}

html[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-bg: #007bff;
  --button-text: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
