.main {
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.9em;
    padding-bottom: 1.5em;
    background-image: url('/images/Hotel/background_pict.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form_div {
    width: 80%;
    height: 79vh;
    padding: 1em;
    background-color: rgba(206, 205, 205, 0.3);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    backdrop-filter: blur(7px);
    /* -webkit-backdrop-filter: blur(10px);  */
    border-radius: 10px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
}

.box {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 100%;
    gap: 0.7em;
}

.form_heading {
    color: #FFD700;
    font-family: cursive;
    text-align: center;
    font-size: 1.5em;
}


.content {
    color: #FFDAB9;
    font-size: 0.9em;
}


.label {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.input {
    height: 6vh;
    min-width: 90%;
    width: auto;
    outline: none;
    color: black;
    padding-left: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.textarea_div {
    width: 100%;
    display: flex;
    gap: 2em;
}

.labels {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.textarea {
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
    height: 18vh;
    resize: none;
    outline: none;
    border: 2px solid rgb(206, 205, 205);
    padding: 0.7em;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.reward_div{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reward_popup {
    animation: popup-fade 0.4s ease-out;
}

.reward_container {
    background: linear-gradient(135deg, #ffed4b, #ffd700);
    padding: 1.2rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    gap: 1rem;
    animation: bounce 1s ease infinite;
}

.coin_graphic img {
    width: 60px;
    height: 60px;
}

.reward_text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    font-family: "Poppins", sans-serif;
}

.plus_text {
    color: #ff7b00;
    font-size: 2rem;
    margin-right: 0.3rem;
}

@keyframes popup-fade {
    from {
        opacity: 0;
        transform: translate(-50%, -10%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0%);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}