.image {
    width: 6em;
    height: 13vh;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 1em;
    align-items: center; /* Center content */
    text-align: center;
}

.grid {
    display: flex;
    width: 85%;
    flex-wrap: wrap; 
    gap: 1em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.name {
    color: #464E67;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9em;
}

.heading {
    text-transform: uppercase;
    color: #263140;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
}
