.navbar {
    width: 100%;
    height: 15vh;
    background-color: aliceblue;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 15px;
    z-index: 1000;
    color: black;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.image {
    height: 15vh;
    width: 21vh;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar.visible {
    transform: translateY(0);
}


.nav_links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4em;
    width: 70%;
}

.left_section {
    display: flex;
    gap: 2.2em;
}

.nav_item {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    font-family: sans-serif;
    font-weight: 300;
}

.nav_item:hover {
    color: red;
}

.right_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.line {
    height: 2em;
    background-color: black;
    width: 1px;
}

.btn {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    padding: 0.3em 0.9em;
    border-radius: 0.3em;
    cursor: pointer;
}

.menu_icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

@media screen and (max-width : 1153px) {
    .nav_links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2em;
        width: 85%;
    }
    .left_section {
        display: flex;
        gap: 1.8em;
    }
    
    .nav_item {
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        color: black;
        font-family: sans-serif;
        font-weight: 300;
    }
    .right_section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3em;
    }
    .btn {
        background-color: black;
        color: white;
        font-family: sans-serif;
        font-weight: 200;
        padding: 0.23em 0.6em;
        border-radius: 0.3em;
        cursor: pointer;
    }
}
@media (max-width: 782px) {
    .menu_icon {
        display: block;
    }

    .nav_links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        padding: 20px;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    .nav_links.open {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .left_section {
        flex-direction: column;
        gap: 1.2em;
        text-align: center;
    }

    .right_section {
        gap: 10px;
        margin-top: 10px;
    }
}
