.main {
    display: flex;
    flex-direction: column;
}

.cartContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3em;
    /* border: 1px solid black; */
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
}

.nft {
    user-select: none;
    max-width: 300px;
    /* border: 1px solid #ffffff22; */
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, .5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
}

.tripname {
    font-family: cursive;
    font-size: 1.4em;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.tokenImage {
    border-radius: 0.5rem;
    max-width: 100%;
    height: 250px;
    /* object-fit: cover; */
}

.description {
    margin: 0.5rem 0;
    color: #a89ec9;
    padding: 0.5em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.7em;
}

.detailsBtn,
.removeBtn {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: 0.3s;
}

.detailsBtn {
    background-color: #ee83e5;
    color: white;
}

.removeBtn {
    background-color: red;
    color: white;
}

