.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3em;
    box-sizing: border-box;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 0.2em;
    padding: 0.2em;
    justify-content: center;
}

.imageWrapper {
    position: relative;
    width: 33.1%;
    height: 37vh;
    /* border-radius: 8px; */
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card_info {
    position: absolute;
    inset: 0;
    z-index: 10;
    opacity: 0;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.imageWrapper:hover .card_info {
    opacity: 1;
}

.h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-transform: capitalize;
}

.info_box {
    width: 90%;
    height: 9vh;
    display: flex;
    gap: 0.8em;
    display: flex;
    justify-content: center;
}

.name {
    width: 10em;
    height: 3em;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    background-color: #005ac1;
    color: white;
}

.value {
    width: 12em;
    height: 3em;
    font-size: 1rem;
    display: flex;
    align-items: center;
    background-color: #005ac1;
    color: white;
    padding-left: 0.5em;
}

.buttonGroup {
    margin-top: 0.8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.button {
    /* padding: 0.5rem 2.3rem; */
    width: 30%;
    height: 5vh;
    background: #0070f3;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s;
}

.buttonGroup .button:hover {
    background: #005ac1;
}

.cross {
    position: absolute;
    top: 2.3%;
    right: 2.5%;
    color: black;
    font-size: 1.8em;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.photo_div {
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 20px;
    border-radius: 12px;
    position: relative;
    width: 85%;
    height: 85%;
}

.image_show {
    margin-bottom: 20px;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.thumbnail_wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.thumbnail_wrapper::-webkit-scrollbar {
    display: none;
}

.cross_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 1100;
    transition: transform 0.2s ease;
}

.cross_icon:hover {
    transform: scale(1.2);
}

/* ......................Display style................. */

.setting_div {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.setting_container {
    background-color: rgb(38, 38, 38);
    width: 50vh;
    height: 54.5vh;
}

.setting_box {
    height: 7.8vh;
    border: 1px solid rgb(57, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.delete_div {
    background-color: rgb(38, 38, 38);
    width: 50vh;
    height: 30vh;
}

.delete_heading {
    height: 14.5vh;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.heading_h1 {
    font-size: 1.5em;
}

.heading_p {
    color: rgb(129, 129, 129);
    font-weight: 100;
}


@media screen and (max-width : 787px) {
    .container {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        gap: 0.2em;
        padding: 0.2em;
        justify-content: center;
    }

    .imageWrapper {
        position: relative;
        width: 100%;
        height: 35vh;
        overflow: hidden;
        justify-content: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: transform 0.3s ease;
    }
}