.wrapper {
    display: flex;
    padding: 0%;
    margin: 0%;
    height: 100vh;
    box-sizing: border-box;
}

.content {
    padding-top: 2em;
    /* margin-left: 7%; */
    width: 99%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}
