.wrapper {
    display: flex;
    padding: 0%;
    margin: 0%;
    height: 100vh;
    box-sizing: border-box;
}

.content {
    /* margin-top: 0.2em; */
    width: 99%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
