.reelsWrapper {
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-type: none;
    overscroll-behavior-y: contain;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.videoCard {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    flex-shrink: 0;
    position: relative;
}

.videoWrapper {
    height: 100%;
    width: 60%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    /* border: 2px solid green; */
}

.video {
    width: 65vh;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.centerControl {
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 5;
    pointer-events: auto;
    border: none;
}

.soundControl {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 0.6rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 5;
    pointer-events: auto;
    border: none;
}

.textOverlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    line-height: 1.4;
    max-height: 45vh;
    width: 65vh;
}

.desp {
    max-height: 38vh;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.truncatedText {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.more_less {
    background: none;
    color: rgb(12, 12, 12);
    font-weight: 500;
    text-transform: lowercase;
    cursor: pointer;
}

.profile_div {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 9vh;
}

.profile_img {
    width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profile_name {
    color: white;
    font-family: sans-serif;
}

.profile_follow {
    border: 1px solid white;
    border-radius: 0.3em;
    padding: 0.2em 0.8em;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 100;
    cursor: pointer;
}

.profile_follow:hover {
    background-color: whitesmoke;
    color: black;
}

.rightPanel {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0em;
    right: 0em;
    /* border: 3px solid black; */
}